/* -----RESET ----- */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 14px;
}

body {
	font-family: "Inter", sans-serif;
	background-image: url(../src/assets/imagen/cielo.jpg);
}

.weather-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #c8dee3;
	padding: 20px;
	min-width: 500px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.weather-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #c8dee3;
	padding: 20px;
	min-width: 500px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h1,
h2,
h3,
span {
	color: #8f3185;
}

.weather-container-titulo {
	text-align: center;
	flex-direction: row;
}

.weather-container-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.weather-container-info > div > ul > li > span {
	font-weight: bold;
}

.weather-container-temperture {
	text-align: center;
	margin-bottom: 20px;
}

button {
	text-align: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: #009bdd;
}

/*  ----- LOADER -----  */

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #c8dee3;
	padding: 20px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.container .container-loader {
	width: 100px;
	height: 100px;
	border: solid 5px #064555;
	border-top: solid 5px #7cd6ec;
	border-radius: 50%;
	animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.container .container-message {
	position: absolute;
	color: #00000c;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: message 1s alternate infinite ease-in-out;
}

@keyframes message {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
